---
interface Props {
  title: string;
  code?: string;
}

import { slugify } from '@/lib/utils';
import { Link2, Code2 } from 'lucide-react';
import { Prism } from '@astrojs/prism';
import { ButtonIcon } from '@/components/ui/buttonIcon';

const { title, code } = Astro.props;
const slug = slugify(title);
---

<section class="group my-6">
  <header class="mb-5">
    <h2 class="flex gap-3 text-xl font-semibold" id={slug}>
      {title}
      <a
        href={`#${slug}`}
        class="text-secondary-400 opacity-0 transition-all hover:text-primary group-hover:opacity-100 dark:text-secondary-600"
        ><Link2 /></a
      >
    </h2>
    {
      Astro.slots.has('description') && (
        <div class="mt-2 text-muted-foreground">
          <slot name="description" />
        </div>
      )
    }
  </header>
  <div class="overflow-hidden rounded-lg border shadow-sm">
    <div class="relative bg-background p-6">
      <div class="absolute bottom-2 right-2">
        {code && <ButtonIcon variant="ghost" Icon={Code2} size="sm" className="code-button" />}
      </div>
      <div class="">
        <slot />
      </div>
    </div>
    {
      code && (
        <div class="code-container hidden overflow-hidden border-t">
          <Prism lang="jsx" code={code} class="!my-0 !rounded-none !border-none !p-6" />
        </div>
      )
    }
  </div>
</section>

<script>
  const codeButton = document.querySelectorAll('.code-button');
  codeButton.forEach((btn) =>
    btn.addEventListener('click', () => {
      const container = btn.closest('section')?.querySelector('.code-container');
      container?.classList.toggle('hidden');
    }),
  );
</script>
