---
import Layout from '@/layouts/Layout.astro';
import Article from '@/layouts/components/Article.astro';
import Section from '@/layouts/components/Section.astro';
import { PenLine, Paperclip, ExternalLink, PlusCircle, Trash2, SendHorizonal } from 'lucide-react';

import ButtonVariantExamples, {
  getCode as getVariantCode,
} from '@/components/examples/buttons/buttonVariantExample';
import ButtonLoadingExamples, {
  code as loadingCode,
} from '@/components/examples/buttons/buttonLoadingExample';
import ButtonSizingExamples, {
  code as sizingCode,
} from '@/components/examples/buttons/buttonSizingExample';
import ButtonBlockExamples, {
  code as blockCode,
} from '@/components/examples/buttons/buttonBlockExample';
import ButtonAnchorExamples, {
  code as anchorCode,
} from '@/components/examples/buttons/buttonAnchorExample';

const primaryCode = getVariantCode('primary', 'SendHorizonal', 'Enviar');
const secondaryCode = getVariantCode('secondary', 'Paperclip', 'Adjuntar');
const dashedCode = getVariantCode('dashed', 'PlusCircle', 'Agregar');
const destructiveCode = getVariantCode('destructive', 'Trash2', 'Eliminar');
const ghostCode = getVariantCode('ghost', 'PenLine', 'Editar');
const linkCode = getVariantCode('link', 'ExternalLink', 'Abrir');
---

<Layout title="Buttons">
  <Article title="Buttons">
    <Fragment slot="description">Descripción general del componente</Fragment>
    <Section title="Primary button" code={primaryCode}>
      <Fragment slot="description">
        Usar primary para las acciones principales de una página
      </Fragment>
      <Fragment slot="preview">
        <ButtonVariantExamples text="Enviar" icon={SendHorizonal} />
      </Fragment>
    </Section>
    <Section title="Secondary button" code={secondaryCode}>
      <Fragment slot="description">
        Usar secondary para las acciones principales de una página
      </Fragment>
      <Fragment slot="preview">
        <ButtonVariantExamples variant="secondary" text="Adjuntar" icon={Paperclip} />
      </Fragment>
    </Section>
    <Section title="Dashed button" code={dashedCode}>
      <Fragment slot="description">
        Usar secondary para las acciones principales de una página
      </Fragment>
      <Fragment slot="preview">
        <ButtonVariantExamples variant="dashed" text="Agregar" icon={PlusCircle} />
      </Fragment>
    </Section>
    <Section title="Destructive button" code={destructiveCode}>
      <Fragment slot="description">
        Usar secondary para las acciones principales de una página
      </Fragment>
      <Fragment slot="preview">
        <ButtonVariantExamples variant="destructive" text="Eliminar" icon={Trash2} />
      </Fragment>
    </Section>
    <Section title="Ghost button" code={ghostCode}>
      <Fragment slot="description">
        Usar secondary para las acciones principales de una página
      </Fragment>
      <Fragment slot="preview">
        <ButtonVariantExamples variant="ghost" text="Editar" icon={PenLine} />
      </Fragment>
    </Section>
    <Section title="Link button" code={linkCode}>
      <Fragment slot="description">
        Usar secondary para las acciones principales de una página
      </Fragment>
      <Fragment slot="preview">
        <ButtonVariantExamples variant="link" text="Abrir" icon={ExternalLink} />
      </Fragment>
    </Section>
    <Section title="Loading" code={loadingCode}>
      <Fragment slot="preview">
        <ButtonLoadingExamples />
      </Fragment>
    </Section>
    <Section title="Sizing" code={sizingCode}>
      <Fragment slot="preview">
        <ButtonSizingExamples />
      </Fragment>
    </Section>
    <Section title="Block y mobile" code={blockCode}>
      <Fragment slot="preview">
        <ButtonBlockExamples />
      </Fragment>
    </Section>
    <Section title="Anchor button" code={anchorCode}>
      <Fragment slot="preview">
        <ButtonAnchorExamples />
      </Fragment>
    </Section>
  </Article>
</Layout>
