---
import '@/styles/globals.css';
import Layout from '@/layouts/Layout.astro';
import Section from '@/layouts/components/Section.astro';
import {
  ButtonVariantExamples,
  ButtonLoadingExamples,
  ButtonSizingExamples,
  ButtonBlockExamples,
  ButtonAnchorExamples,
} from '@/components/examples/buttons';
import {
  PenLine,
  Paperclip,
  ExternalLink,
  PlusCircle,
  Trash2,
  SendHorizonal,
  ChevronRight,
} from 'lucide-react';
---

<Layout title="MIeL UI">
  <h1 class="mb-4 text-4xl font-semibold">Buttons</h1>
  <p class="mb-4">Descripción general del componente</p>
  <hr />
  <Section title="Primary button">
    <Fragment slot="description">
      Usar primary para las acciones principales de una página
    </Fragment>
    <ButtonVariantExamples text="Enviar" icon={SendHorizonal} />
  </Section>
  <Section title="Secondary button">
    <Fragment slot="description">
      Usar secondary para las acciones principales de una página
    </Fragment>
    <ButtonVariantExamples variant="secondary" text="Adjuntar" icon={Paperclip} />
  </Section>
  <Section title="Dashed button">
    <Fragment slot="description">
      Usar secondary para las acciones principales de una página
    </Fragment>
    <ButtonVariantExamples variant="dashed" text="Agregar" icon={PlusCircle} />
  </Section>
  <Section title="Destructive button">
    <Fragment slot="description">
      Usar secondary para las acciones principales de una página
    </Fragment>
    <ButtonVariantExamples variant="destructive" text="Eliminar" icon={Trash2} />
  </Section>
  <Section title="Ghost button">
    <Fragment slot="description">
      Usar secondary para las acciones principales de una página
    </Fragment>
    <ButtonVariantExamples variant="ghost" text="Editar" icon={PenLine} />
  </Section>
  <Section title="Link button">
    <Fragment slot="description">
      Usar secondary para las acciones principales de una página
    </Fragment>
    <ButtonVariantExamples variant="link" text="Abrir" icon={ExternalLink} />
  </Section>
  <Section title="Loading">
    <ButtonLoadingExamples />
  </Section>
  <Section title="Sizing">
    <ButtonSizingExamples />
  </Section>
  <Section title="Block and mobile">
    <ButtonBlockExamples />
  </Section>
  <Section title="Anchor button">
    <ButtonAnchorExamples />
  </Section>
</Layout>

<style></style>
